/build/
/nbproject/private/*
/dist/
/roms/*
/arcadeflex.cfg
/memdump.log
/artwork/*
/cfg/*
/hi/*
/inp/*
/memcard/*
/nvram/*
/samples/*
/snap/*
/release/arcadeflex.jar
/hiscore.dat
/cheat.dat
/flexgames.xml
/flexfrontend/nbproject/private/
/flexfrontend/build/
/flexfrontend/dist/
/flexfrontend/flexgames.xml
/flexfrontend/flexfrontend/*
/flexfrontend/memdump.log
/flexfrontend/arcadeflex.cfg
/flexfrontend/arcadeflex.jar
/flexfrontend/roms/*
/release/flexfrontend/*
/release/arcadeflex.cfg
/error.log
